header {
  background: url("watercolor-g16d79be69_1280.png") no-repeat 50% 50%;
  background-size: cover;
}
header a {
  text-decoration: dotted;
  color: rgb(39, 121, 125);
  transition: 1s;
}
header a:hover {
  color: rgb(249, 226, 188);
}
img {
  border: 10px dotted rgb(75, 168, 173);
  transition: 1s;
}

img:hover {
  border: 10px dotted rgb(249, 226, 188);
}

h2 {
  color: rgb(75, 168, 173);
}

.skills_tags span {
  border: 1px solid rgb(75, 168, 173);
  color: rgb(75, 168, 173);
  padding: 5px 8px;
  display: inline-block;
  margin: 2px;
  border-radius: 8px;
  font-size: 0.8rem;
}

.col-6 {
  padding-top: 50px;
}

section {
  margin: 40px;
}

.scaled-image {
  max-width: 70%;
  height: auto;
}

main .progress-bar {
    background-color: rgb(75, 168, 173
    );
}